* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Title Section */
.title-section {
    text-align: center;
    margin: 40px 0;
}
.title-section .heading h2 {
    font-size: 36px;
    margin-bottom: 6px;
}
.title-section .heading p {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
}
.form-section {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.form-section label {
    font-weight: bold;
    margin-right: 6px;
}
/* Product Section */

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}
.product-card img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    margin-bottom: 12px;
}
.product-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}
.product-card p {
    font-size: 16px;
    color: #ff9101;
    margin-bottom: 12px;
}
.product-card button {
    background-color: #ff9101;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.product-card button:hover {
    background-color: #e07b00;
}   
/* Footer Section */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}